@page
@model ExamenItalika.Pages.Alumnos.ListModel
@{
}

<div class="row">
    <div class="col-12">
        <h1>@Model.Modulo</h1>
    </div>
</div>
<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Identificación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Profesor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Alumnos)
                    {
                        <tr>
                            <td>@item.Identificacion</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                            <td>@item.ProfesorNombre</td>
                            <td><a class="btn btn-secondary" asp-page="/@Model.Modulo/Update" asp-route-Id="@item.Id">Editar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<a class="btn btn-secondary mt-1" asp-area="" asp-page="/Index">Ir a Home</a>
<a class="btn btn-primary mt-1" asp-area="" asp-page="/@Model.Modulo/Create">Crear @Model.Modulo</a>