@page
@model ExamenItalika.Pages.Alumnos.UpdateModel
@{
}
<div class="row">
    <div class="col-12">
        <h1>@Model.Accion @Model.Modulo</h1>
    </div>
</div>
<div class="container">
    <form method="post">
        <input asp-for="Alumno.Id" type="hidden" value="@Model.Alumno.Id" />
        <div class="mb-3">
            <div class="row mt-5">
                <div class="col-12">
                    <h5>Editar Registro</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <label>Identificación</label>
                    <input asp-for="Alumno.Identificacion" class="form-control" type="text" placeholder="Identificación" required />
                </div>
                <div class="col-3">
                    <label>Nombre</label>
                    <input asp-for="Alumno.Nombre" class="form-control" type="text" placeholder="Nombre" required />
                </div>
                <div class="col-3">
                    <label>Apellido</label>
                    <input asp-for="Alumno.Apellido" class="form-control" type="text" placeholder="Apellido" required />
                </div>
                <div class="col-3">
                    <label>FechaNacimiento</label>
                    <input asp-for="Alumno.FechaNacimiento" class="form-control" type="date" placeholder="Fecha de Nacimiento" required />
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <label>Profesor</label>
                    <select asp-for="Alumno.ProfesorId" class="form-select" required>
                        <option selected>Selecciona un Profesor</option>
                        @foreach (var item in Model.Profesores)
                        {
                            <option value="@item.Id">@item.Nombre @item.Apellido</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <a class="btn btn-secondary mt-1" asp-area="" asp-page="/@Model.Modulo/List">Regresar</a>
        <button type="submit" value="Create" class="btn btn-success mt-1">Guardar</button>
    </form>
</div>
